@charset "utf-8";
/* menu styles */
#oneLevelMenu
{	margin: 0;
	padding: 0;
}

#oneLevelMenu li
{	float: left;
	list-style: none;
	font: 12pt Tahoma, Arial;
}

#oneLevelMenu li a
{
	display: block;
	background: #174F89;
	padding: 5px 12px;
	text-decoration: none;
	border-right: 1px solid white;
	width: 100px;
	color: #EAFFED;
	white-space: nowrap;
}

#oneLevelMenu li a:hover
{	background: #7A9ABC;
}
		
#oneLevelMenu li ul
{	
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white;
}
		
#oneLevelMenu li ul li
{	
	float: none;
	display: inline;
}
			
#oneLevelMenu li ul li a
{	
	width: auto;
	background: #e3f6ff;
	color: #333333;
	border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	/*
   moz-opacity:0.9;
   opacity: 0.9;
   */
}
			
#oneLevelMenu li ul li a:hover
{	
	background: #cfeef5;
}